base{
    margin: 0;
    padding: 0;
    width: 100%;
}



#logo_servi {
    width: 100px;
    height: 100px;
}


#header_base {

    width: 100%;
    padding: 1.3 rem 10%;
    background: #d9cf85;
    display: flex;
    align-items: center;
    justify-content: space-around;

}



#carrito{
    font-size: 34px;
    margin: 10px;
    margin-right: 2%;
}

.content-wrapper {
    flex: 1;
    padding-bottom: 60px;
}

#base_nav {

    font-family: 'Franklin Gothic Medium';
    justify-content: space-between;
    display: flex;
    align-content: center;
    background-color: #d9cf85 !important;

}


.navbar a {
    font-size: 18px;
    text-decoration: none;
    text-align: center;
    padding: 14px 20px;
    font-size: 18px;

}

.navbar a:hover {
    color: black;
    
}

.menu-horizontal {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.menu-horizontal>li>a {
    display: block;
    padding: 15px 20px;
    color: white;
    text-decoration: none;
}

.menu-vertical {
    position: absolute;
    display: none;
    list-style: none;
    width: 200px;
    background-color: #d9cf85;
}

.menu-horizontal li:hover .menu-vertical {
    display: block;
}

/*
footer {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color:#d9cf85;
    bottom: 0;
    position: fixed;
    opacity: 0.5;
    color: black;
    text-align: center;
    margin-top: 2%;
}
*/

.base_footer {
    text-align: center !important;
    padding: 10px !important;
    background-color: #d9cf85 !important;
    width: 100% !important;
    margin-top: auto !important;
    position: fixed !important;
    bottom: 0 !important;

}

#nombre_app_servi {
    font-weight: bold;
}




 



@media (max-width: 850px) {

    .navbar .menu-horizontal{
        flex-direction: column;
        justify-content: center;
        margin: 0 auto;
    }

    #buscador .inputBuscar {
      display: none;
     }

     .buscar-icon{
        display: none;
     }

    
    
    
    
      }