@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');



main {
    display: flex;
    padding-top: 2%;
    padding-left: 2%;
    padding-bottom: 1%;

}


form {
    display: flex;
    margin-bottom: 8%;
}

h1,
h3 {
    font-size: 24px;
    padding-right: 38px;
    font-family: 'Inter', sans-serif;

}

h2,
p {
    font-size: 18px;
    padding-left: 2%;
    font-family: 'Inter', sans-serif;


}

#sectiondatos {
    padding-right: 9%;
}

section {
    padding-left: 3%;

}

label {
    width: 280px;
    height: 50px;
    padding-bottom: 7%;

}

input {
    width: 380px;

}

#boton {
    display: flex;
    font-size: 12px;
    padding-bottom: 12%;
    padding-top: 14%;

}

#boton11 {
    display: flex;
    font-size: 14px;
    padding-bottom: 20px;
    padding-top: 10px;

}


button {
    display: none;
    margin: 2%;


}

.btn {
    transition: all 0.3s ease-in-out;
    font-family: "Dosis", sans-serif;

}

.btn {
    width: 200px;
    height: 40px;
    border-radius: 50px;
    background-image: linear-gradient(135deg, #19b630 0%, rgb(84, 234, 129) 100%);
    box-shadow: 0 20px 30px -6px rgba(3, 3, 3, 0.5);
    outline: none;
    cursor: pointer;
    border: none;
    font-size: 18px;
    color: white;
}

.btn:hover {
    transform: translateY(3px);
    box-shadow: none;
}

.btn:active {
    opacity: 0.5;
}

@media (max-width: 850px) {
    form {
        display: flex;
        flex-direction: column;
    }

    main {
        display: flex;
        flex-direction: column;
    }

    #boton {
       flex-direction: column;
    
    }


}

button {

    background-color: #69d0b3;
    margin: 0 auto; /* Establece márgenes automáticos para centrar horizontalmente */
    display: block; /* Hace que el botón sea un bloque para que los márgenes automáticos tengan efecto */

}

#base ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: aqua;
    list-style-type: none;
    padding-top: 50px;
    padding-bottom: 20px;
    margin-left: 20px;
    margin-right: 50px;

}

@media (max-width: 600px) {
  
    #base ul { 
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-top: 50px;
        padding-bottom: 20px;
        margin-left: 20px;
        margin-right: 50px;
     }
}