article {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: aqua;


}

.buttonEliminacion {

    background-color: #69d0b3;
    margin: 0 auto; 
    display: block;

}

#baseMicuenta ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: aqua;
    list-style-type: none;
    padding-top: 50px;
    padding-bottom: 20px;
    margin-left: 20px;
    margin-right: 50px;

}

#eliminar-cuenta-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: aqua;
    list-style-type: none;
    padding-bottom: 40px;
}
.buttonDatos {
background-color:#69d0b3;
}

.descripcion {
    padding-bottom: 20px;
}

@media (max-width: 600px) {
  
#baseMicuenta ul{ 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 50px;
    padding-bottom: 20px;
    margin-left: 20px;
    margin-right: 50px;
 }
#eliminar-cuenta-form  {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 50px;
    padding-bottom: 20px;
    margin-left: 20px;
    margin-right: 50px;
}

}
