img {
    height: 100%;
}

.btn {
    display: inline-block;
    background-color:#69d0b3;
    color: #fff;
    text-decoration: none;
    border-radius: 18px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color:#d9cf85;
}


.container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

ul {
    list-style-type: none;
}

.logo {
    margin-top: auto;
    width: 100px;
}

h1 {
    font-size: 30px;
    margin-top: 20px;
}

.card {
    width: 100%;
}

.card-img-top {
    height: 200px;
    width: auto;
    max-width: none;
    margin: auto;
}

@media (max-width: 850px) {
    .principal {
        display: flex;
        flex-direction: row;
    
    }
  
   
  
  
  }
