.principal {
    display: flex;
    flex-wrap: wrap;
    max-width: 1900px;
    margin-bottom: 8%;
    justify-content: center;


}

.container {
    text-align: center;
    background-color: rgba(155, 218, 179, 0.5);
    padding: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px;
    max-width: 300px;
    max-height: 420px;
    flex: 1 0 auto;
    flex-direction: row-reverse; /* Cambiado a fila para que los elementos estén uno al lado del otro */
    align-items: center; /* Centra los elementos verticalmente en el contenedor */
    border-radius: 7%;
    border: solid;
    
    

}

.container:hover {
    background-color:#d9cf85;
    transform: translate(-5px);
}

.img_prod {
    width: 100px; /* Ajustado para ocupar el ancho completo del contenedor */
    height: 150px;
    border-radius: 8%;
}

h1 {
    font-size: 24px;
    color: #333;
    width:280px ;
    height:80px ;
}



p {
    font-size: 18px;
    color: #666;
    flex-direction: column;
    margin: auto 0;
}

.btn {
    display: inline-block;
    background-color:#69d0b3;
    color: #fff;
    text-decoration: none;
    border-radius: 18px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color:#d9cf85;
}


@media (max-width: 850px) {
    .principal {
        display: flex;
        flex-direction: row;
    
    }
  
   
  
  
  }