
#main_delete_ent {
    min-width: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


button {
    min-width: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10%;
    margin-bottom: 10%;
}

#delete_ent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

article {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: aqua;


}

.buttonEliminacion {

    background-color: #69d0b3;
    margin: 0 auto; 
    display: block;

}

#baseMicuenta ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: aqua;
    list-style-type: none;
    padding-top: 50px;
    padding-bottom: 20px;
    margin-left: 20px;
    margin-right: 50px;

}

#eliminar-cuenta-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: aqua;
    list-style-type: none;
    padding-bottom: 40px;
}
.buttonDatos {
background-color:#69d0b3;
}

.descripcion {
    padding-bottom: 20px;
}

@media (max-width: 600px) {
  
#baseMicuenta ul{ 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 50px;
    padding-bottom: 20px;
    margin-left: 20px;
    margin-right: 50px;
 }
#eliminar-cuenta-form  {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 50px;
    padding-bottom: 20px;
    margin-left: 20px;
    margin-right: 50px;
}

}
#h1_delete_ent,
#h2_delete_ent{
    font-size: 100%;
}

#logo_ent {
    width: 20%; /* El 50% del ancho de su contenedor */
    height: auto; /* Para mantener la proporción original de la imagen */
}


button {

    background-color: #69d0b3;
    margin: 0 auto; /* Establece márgenes automáticos para centrar horizontalmente */
    display: block; /* Hace que el botón sea un bloque para que los márgenes automáticos tengan efecto */

}

#base ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: aqua;
    list-style-type: none;
    padding-top: 50px;
    padding-bottom: 20px;
    margin-left: 20px;
    margin-right: 50px;

}

@media (max-width: 600px) {
  
    #base ul { 
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-top: 50px;
        padding-bottom: 20px;
        margin-left: 20px;
        margin-right: 50px;
     }
}