
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

h1{
    font-size: 20px;
    font-family: 'Inter', sans-serif;
    padding-top: 40px;
    padding-bottom: 30px;
    padding-left: 3%;
}

article{
    padding-left: 5%;
}

form, article .primeraparte{
    display: flex;
    align-items: flex-end;
    
    
}


form, article .segundaparte{
    display: flex;
    justify-content: flex-start;
    
    
}

form, article .descripcion{
    display: flex;
    justify-content: flex-start;
    
    
}

div{
    display: flex;
    padding-bottom: 25px;
    padding-right: 2%;
}

#boton_act{
    display: flex;
    padding-bottom: 25px;
    padding-top: 25px;
    margin: 3%;
    align-items: center;

}

#boton_act button{
    margin-left: 20%;
}

article img{
    padding: 3%;
    border: solid 2px;
}

label{
    width: 100px;

}

.nombre1, .telf_1{
    width: 200px;
    ;
}

.email1, .ubicacion1{
    width: 220px;
}

.descripcion input{
    width: 550px;
    height: 50px;
}

button{
    display: none;
    

}

.btn {
    transition: all 0.3s ease-in-out;
    font-family: "Dosis", sans-serif;
    
  }
  
  .btn {
    width: 200px;
    height: 40px;
    border-radius: 50px;
    background-image: linear-gradient(135deg, #19b630 0%, rgb(84, 234, 129) 100%);
    box-shadow: 0 20px 30px -6px rgba(3, 3, 3, 0.5);
    outline: none;
    cursor: pointer;
    border: none;
    font-size: 18px;
    color: white;
  }
  
  .btn:hover {
    transform: translateY(3px);
    box-shadow: none;
  }
  
  .btn:active {
    opacity: 0.5;
  }

  @media (max-width: 850px) {
    section {
        display: flex;
        flex-direction: column;
      }

    button {
       margin: 3%;
    }
      
    
    form article{
      display: flex;
      flex-direction: column;
    }
    
    div{
        display: flex;
        flex-direction: column;
      }
    
      form, article .primeraparte{
        
        flex-direction: row;
        
        
    }
    

  }

  button {

    background-color: #69d0b3;
    margin: 0 auto; /* Establece márgenes automáticos para centrar horizontalmente */
    display: block; /* Hace que el botón sea un bloque para que los márgenes automáticos tengan efecto */

}

#base ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: aqua;
    list-style-type: none;
    padding-top: 50px;
    padding-bottom: 20px;
    margin-left: 20px;
    margin-right: 50px;

}

@media (max-width: 600px) {
  
    #base ul { 
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-top: 50px;
        padding-bottom: 20px;
        margin-left: 20px;
        margin-right: 50px;
     }
}