@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

.h1producto{
    color: #69d0b3;
    font-size: 40px;
     text-shadow: 8px 8px 8px rgb(16, 17, 17);
     font-style: italic;
     text-align: center;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     margin-top: 10%;
     margin-top: 10%;
   
}

article{
    padding-left: 10%;
    padding-right: 10%;
    background-color:#d9cf85;
   flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5%;
    margin-bottom: 10%;
    margin-top: 10%;
   
}

@media (max-width: 600px) {
    article {
        display: flex;
        flex-direction: column;
      }
}
.imagenlogocaro{
    max-width: 100px;
    margin-top: 50%;
}



form, article .primeraparte{
    display: flex;
    align-items: flex-end;
    
    
    
}


form, article .segundaparte{
    display: flex;
    justify-content: flex-start;
    
    
}

form, article .descripcion{
    display: flex;
    justify-content: flex-start;
    
    
}

div{
    display: flex;
    padding-bottom: 25px;
    padding-right: 2%;
}


article img{
    padding: 3%;
    border: solid 2px;
}

.img_ent {
    max-width: 100px;
    margin-top: 50%;
}
label{
    width: 100px;

}

.nombre1, .telf_1{
    width: 200px;
    ;
}

.email1, .ubicacion1{
    width: 220px;
}

.descripcion input{
    width: 550px;
    height: 50px;
}

.btn {
    transition: all 0.3s ease-in-out;
    font-family: "Dosis", sans-serif;
    
  }
  
  .btn {
    width: 200px;
    height: 40px;
    border-radius: 50px;
    background-image: linear-gradient(135deg, #19b630 0%, rgb(84, 234, 129) 100%);
    box-shadow: 0 20px 30px -6px rgba(3, 3, 3, 0.5);
    outline: none;
    cursor: pointer;
    border: none;
    font-size: 18px;
    color: white;
  }
  
  .btn:hover {
    transform: translateY(3px);
    box-shadow: none;
  }
  
  .btn:active {
    opacity: 0.5;
  }

  