*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 


.form-register {
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 16px;
    background-color:#d9cf85 ;
    border: 1px solid ;
    border-radius: 16px;
    box-shadow: 0 20px 60px var(--aura);
    min-width: 280px;
    max-width: 400px;
    width: 100%;
    padding: 32px;
}

div .centering {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    margin: 2% !important;
}


.form-register h2 {
 
    font-size: 24px;
    text-align: center;
}
div{
    display: flex;
    margin-bottom: 5px;
}

.controls {
    background: rgb(10, 10, 10);
    padding: 10px;
    border-radius: 8px ;
    margin-bottom: 16px;
    border: solid;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
}
ul{
    width: 50%;
}
li{
    display: inline-block;
    margin-right:4px;
    
}

.form-register p {
    height: 40px;
    text-align: center;
    font-size: 20 px;
    line-height: 40px;
   

}

.form-register a {
    
    text-decoration: none;
}


.form-register .botons {
    
    background:#69d0b3 ;
    color: white;
    margin-left: 20%;
    margin-top: 5%;
    font-size: 20px;
    border-radius: 10px ;   

}

article{
    justify-content: flex-start;
    margin-left: 100px;
    margin-right: 100px;
       
}

label{
    width: 160px;
}

input{
    width: 190px;
    border-radius: 4%;
}


ul {
    list-style-type: none;
}



