
img {
    height: 100%;
}

.container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

ul {
    list-style-type: none;
}

.logo {
    margin-top: auto;
    width: 100px;
}

h1 {
    font-size: 30px;
    margin-top: 20px;
}

.card {
    width: 100%;
}

.card-img-top {
    height: 200px;
    width: auto;
    max-width: none;
    margin: auto;
}

button {

    background-color: #69d0b3;
    margin: 0 auto; /* Establece márgenes automáticos para centrar horizontalmente */
    display: block; /* Hace que el botón sea un bloque para que los márgenes automáticos tengan efecto */

}
#base ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: aqua;
    list-style-type: none;
    padding-top: 50px;
    padding-bottom: 20px;
    margin-left: 20px;
    margin-right: 50px;

}

@media (max-width: 600px) {
  
    #base ul { 
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-top: 50px;
        padding-bottom: 20px;
        margin-left: 20px;
        margin-right: 50px;
     }
}article {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: aqua;


}

.buttonEliminacion {

    background-color: #69d0b3;
    margin: 0 auto; 
    display: block;

}

#baseMicuenta ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: aqua;
    list-style-type: none;
    padding-top: 50px;
    padding-bottom: 20px;
    margin-left: 20px;
    margin-right: 50px;

}

#eliminar-cuenta-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: aqua;
    list-style-type: none;
    padding-bottom: 40px;
}
.buttonDatos {
background-color:#69d0b3;
}

.descripcion {
    padding-bottom: 20px;
}

@media (max-width: 600px) {
  
#baseMicuenta ul{ 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 50px;
    padding-bottom: 20px;
    margin-left: 20px;
    margin-right: 50px;
 }
#eliminar-cuenta-form  {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 50px;
    padding-bottom: 20px;
    margin-left: 20px;
    margin-right: 50px;
}

}