{% extends 'base.html' %}


{% load static %}
{% block extrahead %}
<link rel="stylesheet" type="text/css" href="{% static 'css/create_ent.css' %}">
{% endblock %}




{% block content %}


<div id="encabezado">

    <h1>Regístrate</h1>
    <p>{{ usuario_emprendedor }}</p>
    <p>Tu emprendimiento</p>

</div>

<header id="header_create_ent">


    <form method="post" enctype="multipart/form-data"
        action="{% url 'create_ent' %}">
        {% csrf_token %}

        <article id="informacion">
            <div class="titulos">
                <label for="{{ formulario.nombre_emprendimiento.id_for_label }}"><b>Nombre de tu
                        emprendimiento*:</b></label>
                {{ formulario.nombre_emprendimiento }}
            </div>

            <div class="titulos">
                <label for="{{ formulario.email_emprendimiento.id_for_label }}"><b>Email de tu
                        emprendimiento*:</b></label>
                {{ formulario.email_emprendimiento }}
            </div>

            <div class="titulos">
                <label for="{{ formulario.telefono_emprendimiento.id_for_label }}"><b>Teléfono*:</b></label>
                {{ formulario.telefono_emprendimiento }}
            </div>

            <div class="titulos">
                <label for="{{ formulario.descripcion_emprendimiento.id_for_label }}"><b>Descripción del
                        emprendimiento*:</b></label>
                {{ formulario.descripcion_emprendimiento }}
            </div>

            <div class="titulos">
                <label for="{{ formulario.ubicacion_emprendimiento.id_for_label }}"><b>Ubicacion*:</b></label>
                {{ formulario.ubicacion_emprendimiento }}
            </div>
        </article>

        <article id="imagenlogo">
            <div>
                <label for="{{ formulario.img_emprendimiento.id_for_label }}"><b>Seleccionar logo</b></label>
            {{ formulario.img_emprendimiento }}
            </div>
            <div>
                <div id="vista-previa"></div>
            </div>
        </article>

        <section>
            <button type="submit" class="btn">Guardar</button>
        </section>


    </form>




</header>

<br><br><br>



{% endblock %}