{% extends 'base.html' %}

{% load static %}
{% block extrahead %}
<link rel="stylesheet" type="text/css" href="{% static 'css/delete_prod.css' %}">
{% endblock %}



{% block content %}

<main id="main_delete_ent">

    <div id="delete_ent">


        <div class="contenedor">
            <h1 id="h1_delete_ent">Hola</h1>
            <h2 id="h2_delete_ent">Nombre_emprendedor</h2>
            <h2 id="h3_delete_ent">Nombre_emprendimiento</h2>

            
        </div>

        <div>
            <ul class="contenedor">
                <li>Mis productos</li>
                <li>Nombre_producto</li>
                <li>Código_producto</li>
            </ul>
        </div>
            
        
        <div class="eliminar">
            <p>Eliminar producto</p>
        </div>
        <div class="codigo">
            <h2>¿Estás seguro de eliminar este producto?</h2>
            <h2>Código_producto: nombre_producto</h2>
        </div>


        {% if emprendi.img_emprendimiento %}
        <img src="{{ emprendi.img_emprendimiento.url }}" alt="{{ emprendi.nombre_emprendimiento }}" id="logo_ent">
        {% endif %}

        <form method="post" action="{% url 'delete_ent' emprendimiento_id=emprendi.id_emprendimiento %}">
            {% csrf_token %}

            <div class="d-grid gap-2" id="delete_ent">
                <button class="btn btn-primary" type="submit">Confirmar</button>
            </div>
        </form>

    </div>





</main>



{% endblock %}