{% extends 'base_mi_cuenta.html' %}

{% load static %}
{% block extrahead %}
<link rel="stylesheet" type="text/css" href="{% static 'css/delete_prod.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/base_mi_cuenta.css' %}">

{% endblock %}



{% block content %}

<main id="main_delete_ent">

    <div id="delete_ent">


        <div class="contenedor">
            <h1 id="h1_delete_ent">Hola</h1>
            <h2 id="h2_delete_ent">{{ nombre_emprendedor }}</h2>
            <h2 id="h3_delete_ent">{{ nombre_emprendimiento }}</h2>


        </div>

        <div>
            <ul class="contenedor">
                <li>Mis productos</li>
                <li>Producto: {{ nombre_producto }}</li>
                <li>Código: {{ codigo_producto }}</li>
            </ul>
        </div>


        <div class="eliminar">
            <p>Eliminar producto</p>
        </div>
        <form method="post">
            {% csrf_token %}
            
            <div class="codigo">
                <h2>¿Estás seguro de eliminar este producto?</h2>
                <h2>{{ codigo_producto }}: {{ nombre_producto }}</h2>
                {% if producto.img_producto %}
                <img src="{{ producto.img_producto.url }}" alt="{{ product.nombre_producto }}" id="logo_ent">
                {% else %}
                No hay imagen disponible
                {% endif %}
            </div>

            <div class="d-grid gap-2" id="delete_ent">
                <button class="btn btn-primary" type="submit">Confirmar</button>
            </div>
        </form>

    </div>





</main>



{% endblock %}