{% extends 'base.html' %}


{% load static %}
{% block extrahead %}
<link rel="stylesheet" type="text/css" href="{% static 'css/detail_ent.css' %}">
{% endblock %}


{% block content %}


<nav class="container">
    {% if emprendimiento.img_emprendimiento %}
    <img src="{{ emprendimiento.img_emprendimiento.url }}" class="logo"
        alt="{{ emprendimiento.nombre_emprendimiento }}">
    {% endif %}
    <h1>{{ emprendimiento.nombre_emprendimiento }}</h1>
</nav>

<ul class="container">
    <li>{{ emprendimiento.descripcion_emprendimiento }}</li>
    <li>{{ emprendimiento.ubicacion_emprendimiento }}</li>
</ul>

<div class="row">
    {% for producto in productos %}
    <div class="col-lg-4 mb-4">
        <div class="card">
            {% if producto.img_producto %}
            <img src="{{ producto.img_producto.url }}" class="card-img-top" alt="{{ producto.nombre_producto }}">
            {% endif %}
            <div class="card-body">
                <h5 class="card-title">{{ producto.nombre_producto }}</h5>
                <p class="card-text">{{ producto.precio_producto }}</p>
                <button type="button" class="btn btn-primary btn-lg">Large button</button>
            </div>
        </div>
    </div>
    {% endfor %}
</div>



{% endblock %}