{% extends 'base.html' %}


{% load static %}
{% block extrahead %}
<link rel="stylesheet" type="text/css" href="{% static 'css/detail_ent.css' %}">
{% endblock %}


{% block content %}


<nav class="container">
    {% if emprendimiento.img_emprendimiento %}
    <img src="{{ emprendimiento.img_emprendimiento.url }}" class="logo"
        alt="{{ emprendimiento.nombre_emprendimiento }}">
    {% endif %}
    <h1>{{ emprendimiento.nombre_emprendimiento }}</h1>
</nav>

<ul class="container">
    <li>Descripción: {{ emprendimiento.descripcion_emprendimiento }}</li>
    <li>Ubicación: {{ emprendimiento.ubicacion_emprendimiento }}</li>
</ul>

<div class="row">
    {% for producto in productos %}
    <div class="col-lg-4 mb-4">
        <div class="card">
            {% if producto.img_producto %}
            <img src="{{ producto.img_producto.url }}" class="card-img-top" alt="{{ producto.nombre_producto }}">
            {% endif %}
            <div class="card-body">
                <h5 class="card-title">Producto: {{ producto.nombre_producto }}</h5>
                <p class="card-text">Código: {{ producto.codigo_producto }}</p>
                <p class="card-text">Descripción: {{ producto.descripcion_producto }}</p>
                <p class="card-text">Precio: {{ producto.precio_producto }} $</p>
                <p class="card-text">Stock: {{ producto.stock_producto }} unidades</p>
                {% if user.is_authenticated %}
                <a href="{% url 'agregar_al_carrito' producto_id=producto.id_producto %}" class="btn btn-agregar" role="button">Agregar al
                    carrito</a>
                {% else %}
                <a href="{% url 'compra_productos' %}" class="btn btn-agregar" role="button">Agregar
                    al carrito</a>
                {% endif %}
                </div>
        </div>
    </div>
    {% endfor %}
</div>

<div class="position-fixed top-0 end-0 p-3" style="z-index: 5">
    {% if messages %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            {% for message in messages %}
                <strong>{{ message.tags }}:</strong> {{ message }}<br>
            {% endfor %}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endif %}
</div>


{% endblock %}