{% extends 'base.html' %}


{% load static %}
{% block extrahead %}
<link rel="stylesheet" type="text/css" href="{% static 'css/detail_ent.css' %}">
{% endblock %}


{% block content %}

<!--Encargado: . Puedes editar acá, con una card de producto basta, yo hago que se repita
con el backend. CSS en su respectiva carpeta static, ya linkeado-->

<nav class="container">

    <img src="/static/images/logoserviconecta2.png" class="logo" alt="">
    <h1>Nombre_emprendimiento</h1>
</nav>
    
<ul class="container">
    <li>Descripción emprendimiento</li>
    <li>Ubicación emprendimiento</li>
</ul>


<div class="card-group">
    <div class="card">
        <img src="/static/images/pasteleria.jpg" class="card-img-top" alt="pasteleria">
        <div class="card-body">
            <h5 class="card-title">Nombre producto</h5>
            <p class="card-text">Precio producto</p>
            <button type="button" class="btn btn-primary btn-lg">Large button</button>

        </div>
    </div>
    <div class="card">
        <img src="/static/images/pastelero.jpeg" class="card-img-top" alt="pastelero">
        <div class="card-body">
            <h5 class="card-title">Nombre producto</h5>
            <p class="card-text">Precio producto</p>
            <button type="button" class="btn btn-primary btn-lg">Large button</button>
        </div>
    </div>
    <div class="card">
        <img src="/static/images/pasteles.jpg" class="card-img-top" alt="pasteles">
        <div class="card-body">
            <h5 class="card-title">Nombre producto</h5>
            <p class="card-text">Precio producto</p>
            <button type="button" class="btn btn-primary btn-lg">Large button</button>

        </div>
    </div>
</div>


{% endblock %}