{% extends 'base.html' %}


{% load static %}
{% block extrahead %}
<link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
{% endblock %}



{% block content %}



{% for emprendimiento in emprendimientos %}

<div class="tarjetas">


    <div class="tarjeta_conocenos">
        {% if emprendimiento.img_emprendimiento %}
        <img src="{{ emprendimiento.img_emprendimiento.url }}" class="imagentarjeta"
            alt="{{ emprendimiento.nombre_emprendimiento }}">
        {% endif %}
        <div class="titulos">
            <h5 class="card-title">{{ emprendimiento.nombre_emprendimiento }}</h5>
            <p class="card-text">{{ emprendimiento.descripcion_emprendimiento }}</p>
        </div>
        <a class="btn btn-primary" href="{% url 'detalle_emprendimiento' emprendimiento.id_emprendimiento %}"
            role="button">Conócenos</a>
    </div>

    {% for product in emprendimiento.producto_set.all|slice:":3" %}
    <div class="subtarjeta">
        {% if product.img_producto %}
        <img src="{{ product.img_producto.url }}" class="imagensub" alt="{{ product.nombre_producto }}">
        {% else %}
        No hay imagen disponible
        {% endif %}
        <div class="titulos">
            <h5 class="card-title">{{ product.nombre_producto }}</h5>
            <p class="card-text">{{ product.descripcion_producto }}</p>
        </div>
    </div>
    {% endfor %}


    {% endfor %}


</div>


{% endblock %}