{% extends 'base.html' %}


{% load static %}
{% block extrahead %}
<link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
{% endblock %}



{% block content %}

<main class="mainhome">

    <article>

        <span> SERVICONECTA: "DE LA WEB A TUS MANOS"</span>

    </article>

    <p class="parrafo">
        En nuestra app, disfrutarás de la conveniencia de descubrir productos excepcionales desde la comodidad de tu
        hogar con tan solo un clic. ¡Explora nuestra exclusiva selección de productos y encuentra justo lo que
        necesitas!</p>

    <section>
        {% for emprendimiento in emprendimientos %}
        {% if emprendimiento.img_emprendimiento %}
        <img src="{{ emprendimiento.img_emprendimiento.url }}" alt="{{ emprendimiento.nombre_emprendimiento }}">
        {% endif %}
        {% endfor %}
        <!-- <img src="/static/images/logoserviconecta.png" alt="SERVICONECTA">
            <img src="/static/images/Logocarolscake.jpg" alt="Logocarolscake">
            <img src="/static/images/logolamasa.jpg" alt="logolamasa">
            <img src="/static/images/logodaniela.jpg" alt="logodaniela">-->

    </section>
</main>

<div class="position-fixed top-0 end-0 p-3" style="z-index: 5">
    {% if messages %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            {% for message in messages %}
                <strong>{{ message.tags }}:</strong> {{ message }}<br>
            {% endfor %}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endif %}
</div>





{% endblock %}