{% extends 'base.html' %}

{% load static %}
{% block extrahead %}
<link rel="stylesheet" type="text/css" href="{% static 'css/list_prod.css' %}">
{% endblock %}



{% block content %}

<!-- encargada Yilda, puedes editar acá -->

<div class="container">
    <imge src="{% static 'images/emprendimiento1.jpg' %}" alt="emprendimiento_1">
    <h1>Nombre del producto</h1>
    <p>Nombre del Emprendimiento</p>
    <p>Precio del producto</p>
    <a href="#" class="btn">Agregar al carrito</a>
</div>
<hr>

<div class="container">
    <imge src="{% static 'images/emprendimiento2.png' %}" alt="emprendimiento_2">
    <h1>Nombre del producto</h1>
    <p>Nombre del Emprendimiento</p>
    <p>Precio del producto</p>
    <a href="#" class="btn">Agregar al carrito</a>
</div>

<div class="container">
<div class="container">
    <imge src=" {% static 'images/emprendimiento3.jpg' %}" alt="emprendimiento_3">
    <h1>Nombre del producto</h1>
    <p>Nombre del Emprendimiento</p>
    <p>Precio del producto</p>
    <a href="#" class="btn">Agregar al carrito</a>
</div> 




{% endblock %}