{% extends 'base.html' %}

{% load static %}
{% block extrahead %}
<link rel="stylesheet" type="text/css" href="{% static 'css/list_prod.css' %}">
{% endblock %}



{% block content %}

<div class="principal">
    <!-- encargada Yilda, puedes editar acá -->
    {% for e in products %}
    <div class="container">
        {% if e.img_producto %}
        <image src="{{ e.img_producto.url }}" alt="{{ e.nombre_producto }}" class="img_prod">
            {% else %}
            No hay imagen disponible
            {% endif %}
            <h1>Producto: {{ e.nombre_producto }}</h1>
            <div>
                <p><b>Vendido por: {{ e.id_emprendimiento.nombre_emprendimiento }}</b></p>
            </div>
            <div>
                <p><b>Precio: {{ e.precio_producto }} $</b></p>
            </div>
            <div>
                <p><b>Stock: {{ e.stock_producto }}</b></p>
            </div>
                
                

            
            <a href="#" class="btn">Agregar al carrito</a>
    </div>
    <script src="static/js/list_prod.js"></script>
    {% endfor %}
</div>




{% endblock %}