{% extends 'base.html' %}


{% load static %}
{% block extrahead %}
<link rel="stylesheet" type="text/css" href="{% static 'css/list_ent.css' %}">
{% endblock %}


{% block content %}

<div class="principal">

    {% for e in emprendis %}
    <div class="container_list_ent">
        {% if e.img_emprendimiento %}
        <img src="{{ e.img_emprendimiento.url }}" alt="{{ e.nombre_emprendimiento }}" class="img_ent">
        {% else %}
        <img src="{% static 'images/emprendimiento_placeholder.jpg' %}" alt="{{ e.nombre_emprendimiento }}"
            class="img_ent">
        {% endif %}
        <h1 class="nombre_ent">{{ e.nombre_emprendimiento }}</h1>
        <p class="desc_ent">{{ e.descripcion_emprendimiento }}</p>
        <a href="#" class="btn">Más Información</a>
    </div>
    {% endfor %}


</div>








{% endblock %}