{% extends 'base.html' %}


{% load static %}
{% block extrahead %}
<link rel="stylesheet" type="text/css" href="{% static 'css/list_ent.css' %}">
{% endblock %}


{% block content %}


<div class="container">
    <img src=" {% static 'images/emprendimiento1.jpg' %}" alt="emprendimiento_1">
    <h1>Nombre del Emprendimiento</h1>
    <p>Descripción del Emprendimiento</p>
    <a href="#" class="btn">Más Información</a>
</div>
<div class="container">
    <img src=" {% static 'images/emprendimiento2.png' %}" alt="emprendimiento_2">
    <h1>Nombre del Emprendimiento</h1>
    <p>Descripción del Emprendimiento</p>
    <a href="#" class="btn">Más Información</a>
</div>
<div class="container">
    <img src=" {% static 'images/emprendimiento3.jpg' %}" alt="emprendimiento_3">
    <h1>Nombre del Emprendimiento</h1>
    <p>Descripción del Emprendimiento</p>
    <a href="#" class="btn">Más Información</a>
</div>

</div>








{% endblock %}