{% extends 'base.html' %}

{% load static %}
{% block extrahead %}
<link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'js/login.js' %}">
{% endblock %}


{% block content %}

<div class="centering">
    <form class="my-form" method="POST">
        {% csrf_token %}

        <div class="login-welcome-row">
            <img class="login-welcome" src="static/images/logoserviconecta2.png" alt="logo">
            <h1>¡Bienvenido de vuelta!</h1>
        </div>

        <div class="text-field">
            <label for="{{ form.username.id_for_label }}">Nombre de usuario*:</label>
            {{ form.username }}
        </div>

        <div class="text-field">
            <label for="{{ form.password.id_for_label }}">Contraseña*:</label>
            {{ form.password }}
        </div>

        <a href="{% url 'iniciar_sesion' %}?next=/create_ent/"><input type="submit" class="btn" value="Entrar"></a>
        <div class="my-form__actions">
            <div class="my-form__row">
                <span><b>¿Aún no tienes cuenta?</b></span>
                <a href="{% url 'select_user' %}"><b>Regístrate</b></a>
            </div>
        </div>
    </form>
</div>


<!--Encargado: Ruy, puedes editar acá, archivos css y js ya enlazados 
  y en sus respectivas carpetas-->

{% endblock %}