{% extends 'base.html' %}

{% load static %}
{% block extrahead %}
<link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
{% endblock %}


{% block content %}





<div class="centering">
    <form class="my-form" method="POST" action="{% url 'iniciar_sesion' %}">
        {% csrf_token %}

        <div class="login-welcome-row">
            <img class="login-welcome" src="{% static 'images/logoserviconecta.png' %}" alt="logo">
            <h1>¡Bienvenido de vuelta!</h1>
        </div>

        <div class="text-field">
            <label for="{{ form.username.id_for_label }}">Nombre de usuario*:</label>
            {{ form.username }}
        </div>

        <div class="text-field">
            <label for="{{ form.password.id_for_label }}">Contraseña*:</label>
            {{ form.password }}

        </div>


        <input type="submit" class="login_button" value="Entrar">
        <div class="my-form__actions">
            <div class="my-form__row">
                <span><b>¿Aún no tienes cuenta?</b></span>
                <a href="{% url 'registro_usuario' %}"><b>Regístrate</b></a>
            </div>
        </div>
    </form>
</div>



<!--Encargado: Ruy, puedes editar acá, archivos css y js ya enlazados 
  y en sus respectivas carpetas-->

<div class="position-fixed top-0 end-0 p-3" style="z-index: 5">
    {% if messages %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        {% for message in messages %}
        <strong>{{ message.tags }}:</strong> {{ message }}<br>
        {% endfor %}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endif %}
</div>

{% endblock %}