{% extends 'base_mi_cuenta.html' %}

{% load static %}
{% block extrahead %}
<link rel="stylesheet" type="text/css" href="{% static 'css/mi_cuenta_create_prod.css' %}">
{% endblock %}


{% block content %}

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <section id="sectiondatos">
        <div class="Nombre_prod">
            <label for="{{ formulario.nombre_producto.id_for_label }}"><b>Nombre del producto*:</b></label>
            {{ formulario.nombre_producto }}
        </div>

        <div class="cod_prod">
            <label for="{{ formulario.codigo_producto.id_for_label }}"><b>Código del Producto*:</b></label>
            {{ formulario.codigo_producto }}
        </div>

        <div class="descr_prod">
            <label for="{{ formulario.descripcion_producto.id_for_label }}"><b>Descripción del
                    Producto*:</b></label>
            {{ formulario.descripcion_producto }}
        </div>

        <div class="Precios">
            <label for="{{ formulario.precio_producto.id_for_label }}"><b>Precio Producto ($)*:</b></label>
            {{ formulario.precio_producto }}
        </div>

        <div class="Stock">
            <label for="{{ formulario.stock_producto.id_for_label }}"><b>Stock de Producto*:</b></label>
            {{ formulario.stock_producto }}
        </div>

        <div class="Stock">
            <label for="{{ formulario.emprendimiento.id_for_label }}">Emprendimiento:</label>
            {{ formulario.emprendimiento }}
        </div>

    </section>

    <section>
        <h3>Agregar Producto</h3>

        <div class="img_prod">
            {{ formulario.img_producto }}
        </div>

        <div style="display: none;">
            {{ formulario.id_emprendimiento }}
        </div>

        <article id="boton">
            <button type="submit" class="btn" name="action" value="guardar-y-agregar">
                <b>Guardar y agregar otro</b>
            </button>
            <button type="submit" class="btn" name="action" value="finalizar">
                <b>Finalizar</b>
            </button>
        </article>
    </section>

</form>
</header>



{% endblock %}