{% extends 'base_mi_cuenta.html' %}

{% load static %}
{% block extrahead %}
<link rel="stylesheet" type="text/css" href="{% static 'css/mi_cuenta_act_emprend.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/base_mi_cuenta.css' %}">

{% endblock %}


{% block content %}


<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <article>

        <section>
            <h1 class="h1producto">Actualizar Emprendimiento</h1>
        </section>

        <div class="primeraparte">
            <div class="parte1">
                {% if img_emprendimiento_url %}
                <img src="{{ img_emprendimiento_url }}" alt="{{ id_emprendimiento }}" class="img_ent">
                {% else %}
                No hay imagen disponible
                {% endif %}
            </div>

            <div class="parte1">
                <label {{ formedicion.nombre_emprendimiento.id_for_label }}><b>Nombre de emprendimiento*:</b></label>
                {{ formedicion.nombre_emprendimiento }}
            </div>

            <div>
                <label for="{{ formedicion.telefono_emprendimiento.id_for_label }}"><b>Teléfono*:</b></label>
                {{ formedicion.telefono_emprendimiento }}
            </div>
        </div>

        <div class="segundaparte">
            <div>
                <label for="{{ formedicion.email_emprendimiento.id_for_label }}"><b>Correo electrónico*:</b></label>
                {{ formedicion.email_emprendimiento }}
            </div>
            <div>
                <label for="{{ formedicion.ubicacion_emprendimiento.id_for_label }}"><b>Ubicacion*:</b></label>
                {{ formedicion.ubicacion_emprendimiento }}
            </div>
        </div>

        <div class="descripcion">

            <label for="{{ formedicion.descripcion_emprendimiento.id_for_label }}"><b>Descripcion*:</b></label>
            {{ formedicion.descripcion_emprendimiento }}
        </div>


        <section id="boton_act">
            <button type="submit" class="btn" name="action" value="guardar-cambios">
                <b>Guardar cambios</b>
            </button>
            <button type="submit" class="btn" name="action" value="eliminar-emprendimiento"
                onclick="return confirm('¿Está seguro de eliminar este emprendimiento?');">
                <b>Eliminar</b>
            </button>
        </section>

    </article>

</form>

<div class="position-fixed top-0 end-0 p-3" style="z-index: 5">
    {% if messages %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            {% for message in messages %}
                <strong>{{ message.tags }}:</strong> {{ message }}<br>
            {% endfor %}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endif %}
</div>

{% endblock %}