{% extends 'base_mi_cuenta.html' %}

{% load static %}
{% block extrahead %}
<link rel="stylesheet" type="text/css" href="{% static 'css/mis_emprendimientos.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/base_mi_cuenta.css' %}">

{% endblock %}

{% block content %}

<div class="principal">
    {% if emprendis %}
    {% for e in emprendis %}
    <div class="container_list_ent">
        {% if e.img_emprendimiento %}
        <img src="{{ e.img_emprendimiento.url }}" alt="{{ e.nombre_emprendimiento }}" class="img_ent">
        {% else %}
        No hay imagen disponible
        {% endif %}
        <h1 class="nombre_ent">{{ e.nombre_emprendimiento }}</h1>
        <p class="desc_ent">Descripción: {{ e.descripcion_emprendimiento }}</p>
        <p class="desc_ent">Ubicación: {{ e.ubicacion_emprendimiento }}</p>
        <a class="btn btn-danger" href="{% url 'mi_cuenta_act_emprend' e.id_emprendimiento %}">Actualizar</a>
        <a class="btn btn-danger" href="{% url 'mi_cuenta_delete_emprend' e.id_emprendimiento %}">Eliminar</a>
  
    </div>
    {% endfor %}
    {% else %}
    <div id="centrar_no_registros"></div>
    <p class="text-center">Aún no has registrado emprendimientos en tu cuenta.</p>
    </div>
    {% endif %}



</div>

<div class="position-fixed top-0 end-0 p-3" style="z-index: 5">
    {% if messages %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            {% for message in messages %}
                <strong>{{ message.tags }}:</strong> {{ message }}<br>
            {% endfor %}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endif %}
</div>


{% endblock %}