{% extends 'base_mi_cuenta.html' %}


{% load static %}
{% block extrahead %}
<link rel="stylesheet" type="text/css" href="{% static 'css/mis_productos.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/base_mi_cuenta.css' %}">

{% endblock %}

{% block content %}

<div class="principal">
    <!-- encargada Yilda, puedes editar acá -->
    {% if products %}
    {% for e in products %}
    <div id="container_mis_productos">
        {% if e.img_producto %}
        <image src="{{ e.img_producto.url }}" alt="{{ e.nombre_producto }}" class="img_prod">
            {% else %}
            No hay imagen disponible
            {% endif %}
            <h1 class="nombre_prod">Producto: {{ e.nombre_producto }}</h1>
            <p class="desc_prod">Vendido por: {{ e.id_emprendimiento.nombre_emprendimiento }}</p>
            <p class="desc_prod">Precio: {{ e.precio_producto }} $</p>
            <p class="desc_prod">Stock: {{ e.stock_producto }}</p>
            <a class="btn btn-danger"
                href="{% url 'update_prod' e.id_emprendimiento.id_emprendimiento e.id_producto %}">Actualizar</a>
            <a class="btn btn-danger"
                href="{% url 'mi_cuenta_delete_prod' e.id_emprendimiento.id_emprendimiento e.id_producto %}">Eliminar</a>
    </div>
    {% endfor %}
    {% else %}
    <div id="centrar_no_registros">
        <p class="text-center">Aún no has registrado productos en tu cuenta. Debes registrar un emprendimiento primero</p>
    {% endif %}
    </div>
</div>








{% endblock %}