{% extends 'base.html' %}

{% load static %}
{% block extrahead %}
<link rel="stylesheet" type="text/css" href="{% static 'css/registro_usuario_form.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'js/registro_usuario_form.js' %}">
{% endblock %}


{% block content %}

<section class="form-register">
    <h2>Regístrate</h2>
    <ul>
        <li> <a href="{% url 'registro_usuario' tipo_usuario='emprendedor' %}">Emprendedor</a></li>
        <li> <a href="{% url 'registro_usuario' tipo_usuario='cliente' %}">Cliente</a></li>
    </ul>

    <form method="post" action="{% url 'registro_usuario' tipo_usuario=tipo_usuario %}">
        {% csrf_token %}
        <p>Nombre y apellido*</p>
        {{ form.username }}
        <p>Telefono*</p>
        {{ form.phonenumber }}
        <p>Correo electrónico*</p>
        {{ form.email }}
        <p>Contraseña*</p>
        {{ form.password1 }}
        <p>Repita contraseña*</p>
        {{ form.password2 }}

        <input type="hidden" name="tipo_usuario" value="{{ tipo_usuario }}">
        <button class="botons" type="submit">Registrarse</button>
    </form>

</section>



{% endblock %}