{% extends 'base.html' %}

{% load static %}
{% block extrahead %}
<link rel="stylesheet" type="text/css" href="{% static 'css/registro_usuario_form.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'js/registro_usuario_form.js' %}">
{% endblock %}


{% block content %}

<section class="form-register">
    <h2>Regístrate</h2>
    <ul>
        <li> <a href="Emprendedor">Emprendedor</a></li>
        <li> <a href="Cliente">Cliente</a></li>
    </ul>
<p>Nombre y apellido*</p>
<input class="controls" type="text" name=" nombres" id= "nombres" placeholder="Ingrese su Nombre">
<p>Telefono*</p>
<input class="controls" type="text" name=" nombres" id= "telefono" placeholder="Ingrese su teléfono">
<p>Correo electrónico*</p>
<input class="controls" type="email" name=" nombres" id= "correo" placeholder="Ingrese su correo">
<p>Contraseña*</p>
<input class="controls" type="password" name=" nombres" id= "nombres" placeholder="Ingrese su contraseña">
<p>Repita contraseña*</p>
<input class="controls" type="password" name=" nombres" id= "nombres" placeholder="Repita contraseña">

<input class="botons" type="submit" value="Guardar">

</section>



{% endblock %}