{% extends 'base.html' %}

{% load static %}
{% block extrahead %}
<link rel="stylesheet" type="text/css" href="{% static 'css/select_user.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'js/select_user.js' %}">
{% endblock %}


{% block content %}


<div class="container">
    <div>
        <a class="Registrate" href="Registrate">Registrate</a>
    </div>
    <div>
        <h1>Eres</h1>
        <div id="titulos">
            <h2><a href="Emprendedor">Emprendedor</a></h2>
            <p>ó</p>
            <h3><a href="Comprador">Comprador</a></h3>
        </div>

        <button>
            <span>Enviar</span>
        </button>
        
    </div>

  






</div>



{% endblock %}