{% extends 'base.html' %}

{% load static %}
{% block extrahead %}
<link rel="stylesheet" type="text/css" href="{% static 'css/select_user.css' %}">
{% endblock %}


{% block content %}


<div class="container">
    <div>
        <h1>Regístrate</h1>
    </div>
    <div>
        <h1>Eres</h1>
        <form method="post" action="{% url 'select_user' %}">
            {% csrf_token %}
            <div id="titulos">
                <label>
                    <input type="radio" name="tipo_usuario" value="cliente"> Cliente
                </label>
                <p>ó</p>
                <label>
                    <input type="radio" name="tipo_usuario" value="emprendedor"> Emprendedor
                </label>
            </div>

            <button type="submit" id="select_user">Continuar</button>
        </form>

    </div>








</div>



{% endblock %}