{% extends 'base.html' %}

{% load static %}
{% block extrahead %}
<link rel="stylesheet" type="text/css" href="{% static 'css/update_ent.css' %}">
{% endblock %}


{% block content %}

<section>
    <h1>Actualizar Emprendimiento</h1>
</section>
<form action="">
    <article>

        
        <div class="primeraparte">
            <div class="parte1">
                <img src="logo" alt="logo">
            </div>
            
            <div class="parte1">
                <label for="nombre_act"><b>Nombre*:</b></label>
                <input class="nombre1" id="nombre_act" type="text">
            </div>

            <div>
                <label for="telefono_act"><b>Telefono*:</b></label>
                <input class="telf_1" id="telefono_act" type="number">
            </div>
        </div>

        <div class="segundaparte">
            <div>
                <label for="correo_act"><b>Correo*:</b></label>
                <input class="email1" id="correo_act" type="email">
            </div>
            <div>
                <label for="ubicacion_act"><b>Ubicacion*:</b></label>
                <input class="ubicacion1" id="ubicacion_act" type="text">
            </div>
        </div>

        <div class="descripcion">

            <label for="descripcion_act"><b>Descripcion*:</b></label>
            <input id="descripcion_act" type="text">
        </div>


        <section id="boton_act">
            <button type="submit" class="btn"><b>Guardar Cambios</b></button>
            <button type="submit" class="btn"><b>Eliminar</b></button>
        </section>

    </article>

</form>

<!-- encargado Ruy, puedes editar acá. Esto se hace con un form -->


{% endblock %}