{% extends 'base_mi_cuenta.html' %}

{% load static %}
{% block extrahead %}
<link rel="stylesheet" type="text/css" href="{% static 'css/update_prod.css' %}">
{% endblock %}


{% block content %}

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <article>
        <section>
            <h1 class="h1producto" >Actualizar Producto</h1>
        </section>
        

        <div class="primeraparte">
            <div class="parte1">
                {% if img_producto_url %}
                <img class="imagenlogocaro" src="{{ img_producto_url }}" alt="{{ nombre_producto }} " >
                {% else %}
                No hay imagen disponible
                {% endif %}
            </div>

            <div class="parte1">
                <label {{ formedicion.codigo_producto.id_for_label }}><b>Código*:</b></label>
                {{ formedicion.codigo_producto }}
            </div>

            <div class="inputProducto">
                <label for="{{ formedicion.nombre_producto.id_for_label }}"><b>Producto*:</b></label>
                {{ formedicion.nombre_producto }}
            </div>
        </div>

        <div class="segundaparte">
            <div>
                <label for="{{ formedicion.descripcion_producto.id_for_label }}"><b>Descripción*:</b></label>
                {{ formedicion.descripcion_producto }}
            </div>
            <div>
                <label for="{{ formedicion.precio_producto.id_for_label }}"><b>Precio*:</b></label>
                {{ formedicion.precio_producto }}
            </div>
        </div>

        <div class="descripcion">

            <label for="{{ formedicion.stock_producto.id_for_label }}"><b>Stock*:</b></label>
            {{ formedicion.stock_producto }}
        </div>


        <section id="boton_act">
            <button type="submit" class="btn" name="action" value="guardar-cambios">
                <b>Guardar cambios</b>
            </button>
            <button type="submit" class="btn" name="action" value="guardar-cambios">
                <b>Eliminar</b>
            </button>
        </section>

    </article>

</form>


{% endblock %}